<template>
  <span class="big-fruit">
  </span>
</template>

<script>
  export default {
    name: 'GameItemBigFruit',
    data() {
      return {
      }
    },
  }
</script>

<style scoped lang="scss">
  .big-fruit {
    position: absolute;
    background: #ffff00;
    border-radius: 20px;
    border: 10px solid #aa9933;
  }
</style>
