<template>
  <span class="fruit">
  </span>
</template>

<script>
  export default {
    name: 'GameItemFruit',
    data() {
      return {
      }
    },
  }
</script>

<style scoped lang="scss">
  .fruit {
    position: absolute;
    background: #aa0000;
    border-radius: 20px;
    border: 10px solid #aa5533;
  }
</style>
