<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>logo-64x64.png">
    <title>Snake</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Snake doesn't work properly without JavaScript enabled, even if Python is enabled. Please enable javascript to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
