<template>
  <b-button-group>
    <b-button variant="secondary"
              v-if="isPending()"
              :disabled="isDone()"
              @click="start()" @click.native="start()">
      <font-awesome-icon icon="play" />
      Jouer
    </b-button>
    <b-button variant="secondary" v-else
              :disabled="isDone()"
              @click="togglePause()" @click.native="togglePause()">
      <font-awesome-icon icon="pause" v-if="!isPaused()" />
      <font-awesome-icon icon="play" v-else />
      Pause
    </b-button>
    <b-button variant="outline-secondary"
              :disabled="!isRunning()"
              @click="stop()" @click.native="stop()">
      <font-awesome-icon icon="stop" />
      Stop
    </b-button>
  </b-button-group>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    name: 'GameActions',
    data () {
      return {
        //
      }
    },
    methods: {
      isPending() {
        return this.$store.getters["game/isPending"];
      },
      isRunning() {
        return this.$store.getters["game/isRunning"];
      },
      isPaused() {
        return this.$store.getters["game/isPaused"];
      },
      isDone() {
        return this.$store.getters["game/isDone"];
      },
      start() {
        return this.$store.dispatch('game/start', null, {root: true});
      },
      stop() {
        return this.$store.dispatch('game/stop', null, {root: true});
      },
      togglePause() {
        return this.$store.dispatch('game/togglePause', null, {root: true});
      },
    },
    computed: {
      ...mapState({
        bonus: state => state.config.bonus,
        bonuses: state => state.game.bonuses,
      }),
    },
    components: {
      //
    },
    mounted() {
      //
    }
  }
</script>

<style scoped lang="scss">

</style>
