<template>
  <b-button :variant="bonus ? 'info' : 'secondary'" :disabled="!bonus">
    <font-awesome-icon icon="egg" />
    {{ bonuses.eggs }}
    <font-awesome-icon icon="gift" />
    {{ bonuses.bridge }}
  </b-button>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'GameBonus',
    data () {
      return {
        //
      }
    },
    methods: {
      //
    },
    computed: {
      ...mapState({
        bonus: state => state.config.bonus,
        bonuses: state => state.game.bonuses,
      }),
    },
    components: {
      //
    },
    mounted() {
      //
    }
  }
</script>

<style scoped lang="scss">

</style>
