<template>
  <b-button>
    <font-awesome-icon icon="trophy" />
    {{ points }}
  </b-button>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'GameCurrentScore',
    data () {
      return {
        //
      }
    },
    methods: {
      //
    },
    computed: {
      ...mapState({
        points: state => state.game.points,
      }),
    },
    components: {
      //
    },
    mounted() {
      //
    }
  }
</script>

<style scoped lang="scss">

</style>
