<template>
  <div class="grid">
    <div class="line" v-for="n in grid_y" :key="'line_'+n">
      <span class="slot"
            :style="{
              width: slotSize+'px',
              height: slotSize+'px',
              'border-width': border+'px',
              'margin': margin+'px',
            }"
            v-for="m in grid_x"
            :key="'slot_'+m">
      </span>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import {slotSize} from "../../model/screen";

  export default {
    name: 'GameGrid',
    data () {
      return {
        //
      }
    },
    props: {
      margin: Number,
      border: Number,
    },
    methods: {
      //
    },
    computed: {
      ...mapState({
        grid_x: state => state.config.grid_x,
        grid_y: state => state.config.grid_y,
      }),
      slotSize() {
        return slotSize(this.grid_x, this.grid_y, this.margin, this.border);
      }
    },
    components: {
      //
    },
    mounted() {
      //
    }
  }
</script>

<style scoped lang="scss">
  .line {
    display: flex;
  }
  .slot {
    border: solid #ccc;
    border-radius: 2px;
    display: inline-flex;
  }
</style>
