<template>
  <div class="items">
    <div class="col">
      <div class="inner">
        <template v-for="(item, index) in items">
          <GameItemFruit
            v-if="isFruit(item)"
            :key="'segment_'+index"
            :style="{
              width: slotSize+'px',
              height: slotSize+'px',
              left: slotOffset(item.x)+'px',
              top: slotOffset(item.y)+'px',
            }" />
          <GameItemBigFruit
            v-else-if="isBigFruit(item)"
            :key="'segment_'+index"
            :style="{
              width: slotSize+'px',
              height: slotSize+'px',
              left: slotOffset(item.x)+'px',
              top: slotOffset(item.y)+'px',
            }" />
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import { slotSize } from "../../model/screen";
  import GameItemFruit from "./Item/Fruit";
  import GameItemBigFruit from "./Item/BigFruit";
  import {ITEM_TYPE_BIG_FRUIT, ITEM_TYPE_FRUIT} from "../../store/module/game";

  export default {
    name: 'GameItems',
    data() {
      return {
        //
      }
    },
    props: {
      margin: Number,
      border: Number,
    },
    methods: {
      isFruit(item) {
        return ITEM_TYPE_FRUIT === item.type
      },
      isBigFruit(item) {
        return ITEM_TYPE_BIG_FRUIT === item.type
      },
      slotOffset(position) {
        // The slot part
        return (this.slotSize + this.margin * 2) * (position - 1)
          // The external part
          + this.margin
        ;
      },
    },
    computed: {
      ...mapState({
        items: state => state.game.items,
        grid_x: state => state.config.grid_x,
        grid_y: state => state.config.grid_y,
      }),
      slotSize() {
        return slotSize(this.grid_x, this.grid_y, this.margin, this.border)
      },
    },
    components: {
      GameItemBigFruit,
      GameItemFruit,
    },
    mounted() {
      //
    }
  }
</script>

<style scoped lang="scss">
  .items {
    position: absolute;
    top: 0;
    left: 0;
  }
  .inner {
    position: relative;
  }
  span {
    position: absolute;
    border-radius: 2px;
  }
</style>
