<template>
  <div class="mobile-control">
    <b-col>
      <div class="inner" :style="{
        width: width+'px',
        height: height+'px',
      }">
        <div class="row">
          <div class="split left" @click="turnLeft()" @click.native="turnLeft()"></div>
          <div class="split right" @click="turnRight()" @click.native="turnRight()"></div>
        </div>
      </div>
    </b-col>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import { slotSize } from "../../model/screen";

  export default {
    name: 'GameMobileControl',
    data () {
      return {
        //
      }
    },
    props: {
      margin: Number,
      border: Number,
    },
    methods: {
      slotOffset(position) {
        // The slot part
        return (this.slotSize + this.margin * 2) * (position - 1)
          // The external part
          + this.margin
        ;
      },
      turnLeft() {
        this.$store.dispatch('game/turnLeft', null, {root: true});
      },
      turnRight() {
        this.$store.dispatch('game/turnRight', null, {root: true});
      },
    },
    computed: {
      ...mapState({
        status: state => state.game.status,
        score: state => state.game.score,
        grid_x: state => state.config.grid_x,
        grid_y: state => state.config.grid_y,
      }),
      slotSize() {
        return slotSize(this.grid_x, this.grid_y, this.margin, this.border)
      },
      width() {
        return this.slotOffset(this.grid_x) + this.slotSize + this.border + this.margin;
      },
      height() {
        return this.slotOffset(this.grid_y) + this.slotSize + this.border + this.margin;
      },
    },
    components: {
      //
    },
    mounted() {
      //
    }
  }
</script>

<style scoped lang="scss">
  .mobile-control {
    position: absolute;
    top: 0;
    left: 0;
  }
  .col {
    position: relative;
  }
  .split {
    top: 0;
    bottom: 0;
    position: absolute;

    &.left {
      left: 0;
      right: 50%;
    }
    &.right {
      left: 50%;
      right: 0;
    }
  }
  .inner {
    text-align: center;
    position: absolute;
  }
</style>
