<template>
  <b-button-group>
    <b-button :variant="bonus ? 'success' : 'secondary'">
      <font-awesome-icon icon="gift"/>
    </b-button>
    <b-button :variant="loop ? 'success' : 'secondary'">
      <font-awesome-icon icon="redo"/>
    </b-button>
  </b-button-group>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'GameOption',
    data () {
      return {
        //
      }
    },
    methods: {
      //
    },
    computed: {
      ...mapState({
        loop: state => state.config.loop,
        bonus: state => state.config.bonus,
      }),
    },
    components: {
      //
    },
    mounted() {
      //
    }
  }
</script>

<style scoped lang="scss">

</style>
