<template>
  <div class="snake">
    <div class="col">
      <div class="inner">
        <template v-for="(segment, index) in body">
          <GameSnakeHead
            v-if="0 === index"
            :key="'segment_'+index"
            :segment="segment"
            :previous="prev[index]"
            :margin="margin"
            :border="border" />
          <GameSnakeBody
            v-else-if="0 !== index && body.length - 1 !== index"
            :key="'segment_'+index"
            :segment="segment"
            :previous="prev[index]"
            :margin="margin"
            :border="border" />
          <GameSnakeTail
            v-else-if="body.length - 1 === index"
            :key="'segment_'+index"
            :segment="segment"
            :previous="prev[index]"
            :margin="margin"
            :border="border" />
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'
  import { slotSize } from "../../model/screen";
  import GameSnakeHead from "./Snake/Head";
  import GameSnakeBody from "./Snake/Body";
  import GameSnakeTail from "./Snake/Tail";

  export default {
    name: 'GameSnake',
    data() {
      return {
        //
      }
    },
    props: {
      margin: Number,
      border: Number,
    },
    methods: {
      slotOffset(position) {
        // The slot part
        return (this.slotSize + this.margin * 2) * (position - 1)
          // The external part
          + this.margin
        ;
      },
    },
    computed: {
      ...mapState({
        body: state => state.game.body,
        prev: state => state.game.prev,
        nextDirection: state => state.game.nextDirection,
        grid_x: state => state.config.grid_x,
        grid_y: state => state.config.grid_y,
      }),
      slotSize() {
        return slotSize(this.grid_x, this.grid_y, this.margin, this.border)
      },
    },
    components: {
      GameSnakeTail,
      GameSnakeBody,
      GameSnakeHead,
    },
    mounted() {
      //
    }
  }
</script>

<style scoped lang="scss">
  .snake {
    position: absolute;
    top: 0;
    left: 0;
  }
  .inner {
    position: relative;
  }
  span {
    position: absolute;
    border-radius: 2px;
    transition: all 0.19s; /* Min speed steps are 0.2s, must be bellow */

    &.direction_-1 {
      transform: rotate(-90deg)
    }
    &.direction_0 {
      transform: rotate(0deg)
    }
    &.direction_1 {
      transform: rotate(90deg)
    }
    &.direction_2 {
      transform: rotate(180deg)
    }
    &.direction_3 {
      transform: rotate(270deg)
    }
    &.direction_4 {
      transform: rotate(360deg)
    }
  }
  .no_transition {
    transition: none;
  }
</style>
