<template>
  <div class="status">
    <b-col>
      <div class="inner" :style="{
        width: width+'px',
        height: height+'px',
      }">
        <template v-if="isPending()">
          <b-card align="center" title="Commencer" sub-title="Appuillez sur Entrée pour lancer la partie">
            <b-card-text>
              Utilisez ZQSD ou les flèches directionnelles pour diriger
              le serpent.
              Sur smartphone, faites tourner à gauche en cliquant sur
              la moitiée gauche de l'écran, et à droite sur la moitiée droite.
            </b-card-text>
          </b-card>
        </template>
        <template v-else-if="isPaused()">
          <b-card align="center" title="Pause !" sub-title="Appuillez sur Entrée pour relancer la partie">
          </b-card>
        </template>
        <template v-else>
          <b-card align="center" title="Partie terminée !" sub-title="Entrez votre nom pour sauvegarder votre score de">
            <b-card-text>
              <b-badge variant="success">
                {{ points }} points
              </b-badge>

              <template v-if="!scoreSent">
                <b-row class="my-2">
                  <b-col sm="3">
                    <label :for="name">{{ $t('game.form.name') }}</label>
                  </b-col>
                  <b-col sm="9">
                    <b-form-input type="number" id="name" :value="name" @input="(e) => updateConfig('name', parseInt(e))"></b-form-input>
                  </b-col>
                </b-row>

                <b-button-group>
                  <b-button variant="primary" @click.native="submitScore()" @click="submitScore()">
                    {{ $t('game.form.submit') }}
                  </b-button>
                </b-button-group>
              </template>
            </b-card-text>
            <b-card-footer>
              <b-button-group>
                <b-button variant="primary" @click.native="reset()" @click="reset()">
                  Recommencer
                </b-button>
                <b-button variant="secondary" :to="{ name: 'home' }">
                  Retour
                </b-button>
                <b-button variant="secondary" :to="{ name: 'score' }">
                  Meilleurs scores
                </b-button>
              </b-button-group>
            </b-card-footer>
          </b-card>
        </template>
      </div>
    </b-col>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import { slotSize } from "../../model/screen";

  export default {
    name: 'GameStatus',
    data () {
      return {
        scoreSent: false,
      }
    },
    props: {
      margin: Number,
      border: Number,
    },
    methods: {
      isPending() {
        return this.$store.getters["game/isPending"];
      },
      isPaused() {
        return this.$store.getters["game/isPaused"];
      },
      slotOffset(position) {
        // The slot part
        return (this.slotSize + this.margin * 2) * (position - 1)
          // The external part
          + this.margin
        ;
      },
      reset() {
        this.scoreSent = false;

        this.$store.dispatch('game/reset', null, {root: true})
      },
      submitScore() {
        this.scoreSent = true;

        this.$store.dispatch('score/save', null, {root: true})
      },
      updateConfig(name, value) {
        console.log('Update', name, value)
        this.$store.dispatch('config/update', {
          name,
          value,
        }, {root: true})
      },
    },
    computed: {
      ...mapState({
        name: state => state.config.name,
        status: state => state.game.status,
        points: state => state.game.points,
        grid_x: state => state.config.grid_x,
        grid_y: state => state.config.grid_y,
      }),
      slotSize() {
        return slotSize(this.grid_x, this.grid_y, this.margin, this.border)
      },
      width() {
        return this.slotOffset(this.grid_x) + this.slotSize + this.border + this.margin;
      },
      height() {
        return this.slotOffset(this.grid_y) + this.slotSize + this.border + this.margin;
      },
    },
    components: {
      //
    },
    mounted() {
      //
    }
  }
</script>

<style scoped lang="scss">
  .status {
    position: absolute;
    top: 0;
    left: 0;
  }
  .col {
    position: relative;
  }
  .inner {
    text-align: center;
    border: 3px solid #333;
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
  }
</style>
