<template>
  <span :class="{
      body: true,
      no_transition: noTransition,
      ['direction_'+direction]: true,
    }"
    :style="{
      width: slotSize+'px',
      height: slotSize+'px',
      left: slotOffset(segment.x)+'px',
      top: slotOffset(segment.y)+'px',
    }">
  </span>
</template>

<script>
  import SegmentMixin from "./SegmentMixin";

  export default {
    name: 'GameSnakeHead',
    mixins: [SegmentMixin],
  }
</script>

<style scoped lang="scss">
  .body {
    position: absolute;
    background: #008000;
    border-radius: 2px;
    border-left: 10px solid #88A888;
    border-right: 10px solid #88A888;
  }
</style>
