<template>
  <span :class="{
      head: true,
      no_transition: noTransition,
      ['direction_'+direction]: true,
    }"
    :style="{
      width: slotSize+'px',
      height: slotSize+'px',
      left: slotOffset(segment.x)+'px',
      top: slotOffset(segment.y)+'px',
    }">
  </span>
</template>

<script>
  import SegmentMixin from "./SegmentMixin";

  export default {
    name: 'GameSnakeHead',
    mixins: [SegmentMixin],
    methods: {
      getFavoriteDirection() {
        return this.nextDirection;
      },
    }
  }
</script>

<style scoped lang="scss">
  .head {
    position: absolute;
    background: #008000;
    border-radius: 20px 20px 2px 2px;
    border-left: 10px solid #88A888;
    border-right: 10px solid #88A888;

    &:after {
      content: "0 0";
      color: #fff;
      text-align: center;
      display: block;
      line-height: 100%;
      padding-top: 50%;
      background: transparent;
      z-index: 1;
    }
    &:before {
      content: " ";
      background: transparent;
      width: 0;
      height: 0;
      border: 15px solid red;
      border-left-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      margin: -25px auto 0;
      display: flex;
    }
  }
</style>
