<template>
  <div>
    <h2>Crédit / A propos</h2>
    <p>
      Créé par <a target="_blank" href="http://www.joseph-lemoine.fr/">Joseph Lemoine</a>, fondateur de
      <a href="https://www.ludi.cat">Ludicat</a>
    </p>

    <div>
      <b-button target="_blank" href="https://gitlab.com/jlemoine/snake" variant="warning">
        <font-awesome-icon :icon="['fab', 'gitlab']"/> Code source du projet
      </b-button>
    </div>
    <h3>Retrouvez-moi sur</h3>
    <div>
      <b-button target="_blank" href="https://www.linkedin.com/in/joseph-lemoine-6a7534187" variant="primary" class="mr-2">
        <font-awesome-icon :icon="['fab', 'linkedin']"/>
      </b-button>
      <b-button target="_blank" href="https://twitter.com/LemoineJoseph" variant="primary" class="mr-2">
        <font-awesome-icon :icon="['fab', 'twitter']"/> @LemoineJoseph
      </b-button>
      <b-button target="_blank" href="https://gitlab.com/jlemoine" variant="warning" class="mr-2">
        <font-awesome-icon :icon="['fab', 'gitlab']"/> @jlemoine
      </b-button>
      <b-button target="_blank" href="https://github.com/Jihell" variant="secondary">
        <font-awesome-icon :icon="['fab', 'github']"/> @jihell
      </b-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style scoped lang="scss">

</style>
