<template>
  <div class="mx-auto">
    <b-row class="my-2">
      <b-col>
        <GameCurrentScore />
        <GameOption class="ml-2" />
        <GameBonus class="ml-2" />
        <GameActions class="ml-2" />
      </b-col>
    </b-row>
    <b-row class="my-2">
      <b-col class="screen" v-on:keyup="keymonitor">
        <GameGrid :margin="margin" :border="border "/>
        <GameItems :margin="margin" :border="border" />
        <GameSnake :margin="margin" :border="border" />
        <GameStatus v-if="!isRunning()" :margin="margin" :border="border" />
        <GameMobileControl v-else :margin="margin" :border="border" />
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import GameActions from './Game/Actions'
import GameCurrentScore from './Game/CurrentScore'
import GameOption from './Game/Option'
import GameBonus from './Game/Bonus'
import GameGrid from './Game/Grid'
import GameItems from './Game/Items'
import GameMobileControl from './Game/MobileControl'
import GameSnake from './Game/Snake'
import GameStatus from './Game/Status'

export default {
  name: 'Game',
  data () {
    return {
      // Style parameters
      margin: 1,
      border: 1,
    }
  },
  methods: {
    isPending() {
      return this.$store.getters["game/isPending"];
    },
    isRunning() {
      return this.$store.getters["game/isRunning"];
    },
    doCommand(e) {
      switch(e.code) {
        case 'Enter':
          e.preventDefault();
          if (this.isPending()) {
            return this.$store.dispatch('game/start', null, {root: true});
          }
          return this.$store.dispatch('game/togglePause', null, {root: true});
        case 'Escape':
          e.preventDefault();
          return this.$store.dispatch('game/stop', null, {root: true});
      }

      if (!this.isRunning()) {
        return;
      }

      var direction = null;
      switch(e.code) {
        case 'KeyS':
        case 'ArrowDown':
          direction = 2;
          break;
        case 'KeyW':
        case 'ArrowUp':
          direction = 0;
          break;
        case 'KeyA':
        case 'ArrowLeft':
          direction = 3;
          break;
        case 'KeyD':
        case 'ArrowRight':
          direction = 1;
          break;
      }

      if (null !== direction) {
        e.preventDefault();
        this.$store.dispatch('game/nextDirection', {direction}, {root: true});
      }
    },
    keymonitor: function(event) {
      console.log(event.key);
      if (event.key == "Enter") {
        console.log('the id of the input was:' + event.currentTarget.id);
        console.log("enter key was pressed!");
      }
    }
  },
  computed: {
    ...mapState({
      status: state => state.game.status,
    }),
  },
  components: {
    GameActions,
    GameCurrentScore,
    GameOption,
    GameBonus,
    GameGrid,
    GameItems,
    GameMobileControl,
    GameSnake,
    GameStatus,
  },
  created() {
    window.addEventListener('keydown', this.doCommand);
  },
  destroyed() {
    window.removeEventListener('keydown', this.doCommand);
  },
  mounted() {
    this.$store.dispatch('game/reset', null, {root: true})
  }
}
</script>

<style scoped lang="scss">
.screen {
  position: relative;
}
</style>
