<template>
  <div>
    <h1>{{ $t('home.title') }}</h1>

    <b-row class="my-2">
      <b-col sm="3">
        <label :for="grid_x">{{ $t('home.form.grid_x') }}</label>
      </b-col>
      <b-col sm="9">
        <b-form-input type="number" id="grid_x" :value="grid_x" @input="(e) => updateConfig('grid_x', parseInt(e))"></b-form-input>
      </b-col>
    </b-row>

    <b-row class="my-2">
      <b-col sm="3">
        <label :for="grid_y">{{ $t('home.form.grid_y') }}</label>
      </b-col>
      <b-col sm="9">
        <b-form-input type="number" id="grid_y" :value="grid_y" @input="(e) => updateConfig('grid_y', parseInt(e))"></b-form-input>
      </b-col>
    </b-row>

    <b-row class="my-2">
      <b-form-checkbox
        id="loop"
        name="loop"
        :checked="loop"
        @change="() => updateConfig('loop', !loop)"
        switch
      >
        {{ $t('home.form.loop') }}
      </b-form-checkbox>
    </b-row>

    <b-row class="my-2">
      <b-form-checkbox
        id="bonus"
        name="bonus"
        :checked="bonus"
        @change="() => updateConfig('bonus', !bonus)"
        switch
      >
        {{ $t('home.form.bonus') }}
      </b-form-checkbox>
    </b-row>

    <b-row class="my-2">
      <b-button-group class="mx-auto">
        <b-button variant="success" :to="{ name: 'game' }">
          <font-awesome-icon icon="gamepad" />
          {{ $t('home.actions.game') }}
        </b-button>
        <b-button variant="info" :to="{ name: 'score' }">
          <font-awesome-icon icon="trophy" />
          {{ $t('home.actions.score') }}
        </b-button>
      </b-button-group>
    </b-row>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Home',
  data () {
    return {

    }
  },
  methods: {
    updateConfig(name, value) {
      console.log('Update', name, value)
      this.$store.dispatch('config/update', {
        name,
        value,
      }, {root: true})
    },
  },
  computed: {
    ...mapState({
      grid_x: state => state.config.grid_x,
      grid_y: state => state.config.grid_y,
      loop: state => state.config.loop,
      bonus: state => state.config.bonus,
    }),
    //
  },
  components: {
    //
  },
  mounted() {
    //
  }
}
</script>

<style scoped lang="scss">
  .graph-years {
    max-width: 50px;
  }
  .detail-list {
    span, strong {
      display: block;
      width: 100%;
    }
  }
</style>
