<template>
    <div id="nav">
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-container>
                <b-navbar-brand :to="{ name: 'home' }"
                                v-b-popover.hover="$t('nav.brand')">
                    <font-awesome-icon icon="home" />
                </b-navbar-brand>

                <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav class="ml-auto">
                        <b-nav-item :to="{ name: 'home' }">
                          <font-awesome-icon icon="cogs" />
                            {{ $t('nav.home') }}
                        </b-nav-item>
                        <b-nav-item :to="{ name: 'game' }">
                          <font-awesome-icon icon="gamepad" />
                            {{ $t('nav.game') }}
                        </b-nav-item>
                        <b-nav-item :to="{ name: 'score' }">
                          <font-awesome-icon icon="trophy" />
                            {{ $t('nav.score') }}
                        </b-nav-item>
                        <b-nav-item @click="reset" v-if="isDev">{{ $t('nav.reset') }}</b-nav-item>
                        <b-nav-item :to="{name: 'about'}">{{ $t('nav.about') }}</b-nav-item>
                    </b-navbar-nav>
                    <b-dropdown variant="outline-light" size="sm"
                                id="ddown1" :right="true" class="m-md-2">
                        <template slot="button-content">
                            <font-awesome-icon icon="globe-europe" />
                            {{ $t('nav.locale') }}
                        </template>
                        <b-dd-item-button class="dropdown-item" @click="changeLocal('fr')">{{ $t("nav.fr") }}</b-dd-item-button>
                        <b-dd-item-button class="dropdown-item" @click="changeLocal('en')">{{ $t("nav.en") }}</b-dd-item-button>
                    </b-dropdown>
                </b-collapse>
            </b-container>
        </b-navbar>
    </div>
</template>

<script>
import {mapState} from "vuex";

export default {
  name: 'Nav',
  computed: {
    ...mapState({
      locale: state => state.config.locale,
    }),
    isDev() {
      return process.env.NODE_ENV !== 'production'
    },
  },
  methods: {
    changeLocal(locale) {
      this.$store.dispatch('config/changeLocale', locale, {root: true})
      this.$i18n.i18next.changeLanguage(locale)
    },
    reset() {
      this.$store.dispatch('reset', null, {root: true})
    },
  },
  mounted() {
    // Set previously set locale
    this.$i18n.i18next.changeLanguage(this.locale);
  }
}
</script>

<style scoped>
</style>
