<template>
  <div class="score">
    <b-list-group>
      <b-list-group-item variant="outline-secondary"
                         v-for="(score, index) in ladder"
                         :key="'score_'+index"
      >
        <b-badge>
          {{ formatDate(score.date) }}
        </b-badge>
        <b-badge variant="info">
          {{ score.name }}
        </b-badge>
        <b-badge variant="warning">
          {{ score.score }}
        </b-badge>
        <b-badge :variant="score.victory ? 'success' : 'danger'">
          <font-awesome-icon icon="trophy" />
        </b-badge>
      </b-list-group-item>
    </b-list-group>
    <b-alert variant="info" :show="!ladder.length">
      <p>{{ $t('score.empty') }}</p>
      <b-row>
        <b-col>
          <b-button-group class="mx-auto">
            <b-button :to="{ name: 'game' }">
              {{ $t('nav.game') }}
            </b-button>
          </b-button-group>
        </b-col>
      </b-row>
    </b-alert>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'Score',
  data () {
    return {
    }
  },
  methods: {
    formatDate(date) {
      const dateTimeFormat = new Intl.DateTimeFormat(this.locale, { year: 'numeric', month: 'short', day: '2-digit' })

      return dateTimeFormat.format(date);
    }
  },
  computed: {
    ...mapState({
      ladder: state => state.score.ladder,
      locale: state => state.config.locale,
    }),
  },
  components: {
    //
  },
  mounted() {
    //
  }
}
</script>

<style scoped lang="scss">

</style>
